.footer {
    margin: 0;
    padding: 0;
    background-color: rgb(12, 12, 12);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: auto;
    border-top: 1px solid grey;
}

@media screen and (max-width:500px) {
    .footerSec {
        font-size: small;
    }
}